In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
dici = {1:['y','z'],
        3:'y',
        2:'',
        4:'z'
       }

In [6]:
pd.DataFrame(daci)

   1  3 2  4
0  y  y    z
1  z  y    z

In [10]:
dici = {'A':[-1,0,1,2],
        'B':[0,1,2,3,4,5]
}

In [21]:
for item in dici['A']:
    print('(', item,item+1, ')')

( -1 0 )
( 0 1 )
( 1 2 )
( 2 3 )